<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
     <link rel="stylesheet" href="./static/css/signup.css">
</head>
<body>
 

<form action="/signup" method="POST">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="msg">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
<h1>Sign Up</h1>

<label for="name">Name:</label>
<input type="text" id="name" name ="name" required>

<label for="usr">Username:</label>
<input type="text" id="usr" name ="usr" required>

<label for="pass">Password:</label>
<input type="text" id="pass" name ="pass" required>





<label for="token">Any Secret Message:</label>
<input type="text" id="token" name ="token" required>





<button type="submit">Submit</button>



   



</form>
</body>
</html>